.search-bar-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 0;
}

h4{
  margin-top: 0.5rem !important;
}

.servicos, .form{
  margin-top: 2rem !important;
}

.form{
  margin-bottom: 2rem !important;
}

form button{
  margin-top: 1rem !important;
}

.row .col-md-4{
  padding: 5px !important;
}

