.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

  .container .conteudo{
    margin: 10px 0;
  }

  .container .card{
    width: 70%;
  }

.container-pesquisa{
  margin-top: 10vh;
}
